* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body{
  background: #f1f2f6;
}
